body{
	width: 100%;
	font-size: 16px;
	margin: 0px;
}
a{
	text-decoration: none;
}
header{
	width: 100%;
	overflow: hidden;
	background-color: #055286;
}
.row{
	margin-right: 0px !important; 
	margin-left: 0px !important;
}
.col-centered{
    float: none;
    margin: 0 auto;
    width: 90%;
}
.center{
	margin: 0 auto;
    width: 95%;
}
#logo{
	padding-left: 30px;

}
#language{
	padding-top: 20px;
	padding-right: 30px;
}
select{
	border: none;
	border-radius: 0px;
	float: right;
	height: 30px;
}
#hero{
	clear: both;
}
.description{
	color: #055286;
	font-size: 2.5REM;
	font-weight: bold;
	margin-top: 25px;
	/*text-align: center;*/
}
.step{
	background-color: #ed1c24;
	color: #FFFFFF;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
	min-height: 50px;
	padding: 10px;
	font-weight: bold;
	font-size: 2.5REM;
}
.subStep{
	background-color: #518ECD;
	color: #FFFFFF;
	margin-top: 10px;
	/*margin-left: 10px;
	margin-right: 10px;*/
	min-height: 50px;
	padding: 10px;
	font-weight: bold;
	font-size: 2.5REM;
}
.red{
	background-color: #ed1c24;
}
.scenario{
	background-color: #518ECD;
	color: #FFFFFF;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
	min-height: 100px;
	padding: 30px;
	font-weight: bold;
	text-align: center;
	font-size: 2.5REM;
}
.data{
	background-color: #CCCCCC;
	color: #FFFFFF;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
	min-height: 50px;
	padding: 20px;
	font-weight: bold;
	text-align: center;
	font-size: 2.5REM;
}
footer{
	width: 100%;
	background-color: #005286;
	margin-top: 50px;
	margin-left: 0 auto;
	margin-right: 0 auto;
	padding: 20px;
}